


    <div class="signup">
      <form id="first">
       
       <div class="row">
        <label>FirstName:</label>
        <input type="text" name="txt" placeholder="First Name" [(ngModel)]="first.FirstName">
      </div><br>
      <div class="row">
        <label>LastName:</label>
        <input type="text" name="txt" placeholder="Last Name" [(ngModel)]="first.LastName"> 
      </div> <br>
      <div class="row">
        <label>Date:</label>
        <input type="date" name="date" placeholder="DOB" [(ngModel)]="first.date"> 
      </div><br>
    <div class="row">
      <label>Phonenumber:</label>
        <input type="number" name="txt" placeholder="Phone Number" [(ngModel)]="first.number"> 
      </div><br>
    <div class="row"><label>Email:</label>
        <input type="email" name="email" placeholder="EmailID" [(ngModel)]="first.email"> 
      </div><br>
    <div class="row">
      <label>Password:</label>
        <input type="password" name="pswd" placeholder="password" [(ngModel)]="first.Password"> 
      </div> <br>
        <div><button (click)="onSignup()">Sign up</button>
        <button type="reset"> Reset</button>
      </div>
      </form>
      <div>
        <form id="second">
          <div class="log">
          <label>UserName</label>
        <input type="text" name="txt" placeholder="First Name" [(ngModel)]="second.UserName">
      </div> <br>
    <div class="log">
          <label>Password</label>
          <input type="password" name="pswd" placeholder="password" [(ngModel)]="second.Password"> 
        </div><br><br>
          <button (click)="onLogin()">Login</button><br>
          <div [innerHtml]="display1"></div>
        </form>

      </div>
      <div [innerHtml]="display"></div>
    </div>

